.App {
  text-align: center;
}

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Global */
* {
  margin: 0px;
  padding: 0px;

}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1a1b22;
}

.navbar-brand {
  text-decoration: none;
  color: #ede6e3;
}

.navbar-brand:hover {
  text-decoration: none;
  color: #aad922;
}

.card {
  border-radius: 40px 2px 40px 2px;
}

.card-body {
  padding: 8px 16px;
  border-radius: 40px 2px;
  background-color: #262730;
  border: 2px solid #ede6e3;
}

.data-title {
  color: #262730;
}

.data-by, .data-url {
  color: #ede6e3;
}

.post-url {
  text-decoration: none;
  color: #aad922;
}

.post-url:hover {
  text-decoration: none;
  color: #ede6e3;
}

.btn {
  padding: 6px;
  background-color: #aad922;
  border: none;
}

.btn:hover {
  background-color: #ede6e3;
  color: #aad922;
  border-radius: 0px !important;
}